*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f4f7;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100vh;
}

/* ========== NOMBRANDO ESPACIOS DE FORMULARIO, SLOGAN Y FOOTER CON GRID ==========*/

.contenedor{    
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: 
    "slogan formulario"
    "footer footer";
}

/* ========== REPARTIENDO ESPACIOS DE FORMULARIO, SLOGAN Y FOOTER CON GRID ==========*/

.slogan__contenedor{
    grid-area: slogan;
    display: flex;
    justify-content: end;
    align-items: center;
}

.formulario__contenedor{
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 415px;
    margin: 100px 0 0 80px;
    padding: 10px;
    gap: 30px;

}

.footer{
    grid-area: footer;
}

/* ========== DANDOLE ESTILO AL FORMULARIO ==========*/

.formulario{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    background-color: #fff;
    border-radius: 7px; 
    box-shadow: 0px 0px 9px #0003;
}

.formulario__grupo{
    text-align: center;
}

.formulario__contenedor-campos{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    
}

.formulario__campo{
    margin: 13px 0 0 0;
    width: 100%;
}

.formulario__input, .formulario__boton{
    width: 100%;
    padding: 17px;
    border-radius: 6px;
    border: none;
    border: 1px solid #ddd;
}

.formulario__input:focus {
    border:  none;
    box-shadow: 0 0 0 1px rgb(145, 145, 253);    /* color cian al enfocar */
    outline: none;                /* elimina contorno azul del navegador */
}

.formulario__input::placeholder {
    font-size: 17px;       
    color: #999;           
}


.formulario__boton--azul{
    background-color: #0866ff;
    color: #fff;
    font-weight: 600;
    line-height: 15px;
    font-size: 1.2rem;    
}

.formulario__enlace{
    text-align: center;
    color: #0866ff;
    text-decoration: none;
    font-size: 0.9rem;
}

.formulario__campo--enlace-separacion{
    padding: 1px;
}

.contenedor__linea{
    margin: 25px 0;
}

.formulario__linea{
    width: 90%;
    opacity: 0.3;
}

.formulario__boton--verde{
    background-color: #42b72a;
    color: #fff;
    font-weight: 600;
    width: 50%;
    line-height: 15px;
    font-size: 1rem;
}

.formulario__campo--boton--verde{
    margin: 0 0 25px 0;
}

.formulario__info-extra{
    width: 50%;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
}

/* ========== DANDOLE ESTILO AL SLOGAN ==========*/

.prueba1{
    max-height: min-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 35px 0;
}

.contenedor__logo, .slogan__contenedor-texto{
    max-width: 500px;
    margin: 0 0 0 40px;
}

.slogan__logo{
    margin: 0 0 -10px -30px;
    max-width: 305px;
}

.slogan__texo{
    font-size: 27px;
    margin: 0;
}

/* ========== DANDOLE ESTILO AL FOOTER ==========*/

.footer{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__contenedor-enlaces-idiomas{
    width: 65%;
    margin: 30px 0 0 0;
}

.footer__contenedor-linea{
    width: 65%;
    opacity: 0.3;
}

.footer__contenedor-enlaces-opciones{
    width: 65%;
}

.enlace__footer, .idioma__enlace, .footer__contenedor-enlaces-opciones, .footer__derechos{
    margin: 0 5px 0 0;
    text-decoration: none;
    color: #777;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 12px;
}

.footer__derechos{
    margin: 20px 0;
    text-align: start;
    width: 65%;
}


