*{
  box-sizing: border-box;
  margin: 0;
}

body{
  /* Definiendo variables */
  --header-color: #0f224a;
  --body-color: rgb(35, 67, 117);
  --body-font-family: "Monserrat","Lato Fallback",sans-serif;
  --font-color: #fff;

  background-color: var(--body-color);
  font-family: var(--body-font-family);
}

/* ============ HEADER =============*/

/* Definiendo color del HEADER, aplicando flex y posicionado a sus hijos internos y otras propiedades*/
.header{
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;/*
    container-type: inline-size;
    container-name: header;*/
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 18px;
    position: sticky;
    top: 0;
} 

/* Definiendo el tamano del logo del HEADER y margenes*/
.header__logo{
    max-width: 100%;
    width: 75px;
    margin: 10px 50px 5px 50px;
    padding: 0;
}

/* Definiendo tamanos y espaciado de los elementos de la lista del NAV dentro del HEADER */
.header__nav-list{
  width: 100%;
  display: flex;
  padding: 0;
  gap: 50px;
}

.header__nav-item{
    list-style: none;
}

.header__nav-item a{
    color: var(--font-color);
    text-decoration: none;
    font-size: 14px;
}

/* Definiendo el tamano del boton de iniciar sesion del HEADER y margenes*/
.button__container{
  max-width: 100%;
  width: 200px;
  margin-right: 20px;
}

.header__button{
  background-color: transparent;
  color: var(--font-color);
  padding: 10px 20px;
  border: 2px solid rgba(0, 255, 255, 0.864);
  border-radius: 16px;
  font-size: 11px;
  letter-spacing: 1.5px;  
}

/* ============ CARD =============*/
.card{
  width: 320px;
  background: linear-gradient(135deg, #ff6a00, rgb(255, 231, 51));
  box-shadow: 0 0 60px 0 #dff476a1;                                 /* Definiendo sombras. Primer parametro: Horizontal, Segundo: Vertical, Tercero: Desenfoque, Cuarto: Extension de la sombra */
  padding-top: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 13px solid rgba(255, 123, 0, 0.447);
}

.card__title{
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
}

.card__paragraph{
  text-align: justify;
  line-height: 1.5;
  font-size: 13px;
  padding: 15px 35px 20px 35px;
  color: #444;
}

.list{
  padding: 0;
  padding-bottom: 20px;  
}

.list-item{
  list-style: none;
  padding: 0;
  text-align: center;
}

main{
  margin: 60px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.footer{
  background-color: #eee;
  text-align: center;
  padding: 40px 100px;
  color: #444;
  font-size: 14px;
}